{
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true
  },
  "plugins": [
    "react",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ],
    "yoda": 0,
    "no-unused-vars": 1,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"]  }],
  },
  "globals": {
    "$": false,
    "describe": true,
    "it": true,
    "test": true,
    "expect": true
  }
}
